{%extends 'solitonems/base.html'%}

{%block page_title %}
Approve Overtime Plans

<script>
$(document).ready(function(){
  $("#search_input").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#overtime_approval_list tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{%endblock%}
{%block content%}
<div class="content">
    <div class="container-fluid">
        <div class="card animated fadeInUp">
            <div class="card-body">
                {% if messages %}
                {% for message in messages %}
                <p{% if message.tags %} class="alert alert-warning {{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
                {% endif %}

                {%if pending_overtime_plans %}
                <h3>Pending Overtime Plans</h3>
                <div class="table-responsive">
                    <div class="form-group "> 
                        <i class="fas fa-search " aria-hidden="true"></i>
                        <input id="search_input" type="text" class="form-control" placeholder="Search....">                      
                    </div>
                    <table class="table">
                        <thead class="thead-dark">
                        <th>ID</th>
                        <th>Applicant</th>
                        <th>Department</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Actions</th>
                        </thead>
                        <tbody id="overtime_approval_list">
                        {%for pending_overtime_plan in pending_overtime_plans %}
                        <tr>
                            <td>{{pending_overtime_plan.id}}
                            </td>
                            <td>{{pending_overtime_plan.applicant}}</td>
                            <td>{{pending_overtime_plan.applicant.organisationdetail.department}}</td>
                            <td>{{pending_overtime_plan.date}}</td>
                            <td>{{pending_overtime_plan.status}}</td>
                            <td>
                                <a href="{%url 'pending_overtime_plan_page' pending_overtime_plan.id%}">
                                    <button>Review Application</button>
                                </a>
                            </td>

                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
                {%else%}
                <h3>No pending applications</h3>
                {%endif%}
            </div>
        </div>
    </div>
</div>
{%endblock%}