{%extends 'solitonems/base.html'%}

{%block page_title %}
Approved Overtime Applications
{%endblock%}
{%block content%}
<div class="content">
    <div class="container-fluid">
        <div class="card animated fadeInUp">
            <div class="card-body">
                <!-- table-->
                {%if approved_applications%}
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                        <th>Name</th>
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Description</th>
                        </thead>
                        {%for approved_application in approved_applications%}
                        <tr>
                            <td>{{approved_application.applicant.first_name}}
                                {{approved_application.applicant.last_name}}
                            </td>
                            <td>{{ approved_application.date }}</td>
                            <td>{{ approved_application.start_time }}</td>
                            <td>{{ approved_application.end_time }}</td>
                            <td>{{ approved_application.description }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% else %}
                <h3>No approved overtime applications</h3>
                {%endif%}
            </div>
        </div>
    </div>
</div>
{%endblock%}