{%extends 'solitonems/base.html'%}

{%block page_title %}
Create Overtime Plan
{%endblock%}

{%block content%}
<div class="content">
    <div class="container-fluid">
        <div class="col-md-12">
            <a href="{%url 'create_overtime_plan'%}">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_add_overtime_plan">
                    Create Overtime Plan
                </button>
            </a>
            <div class="card">
                <div class="card-body">
                    {%if overtime_plans%}
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-dark">
                            <th>ID</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Actions</th>
                            </thead>
                            {%for overtime_plan in overtime_plans%}
                            <tr>
                                <td>{{overtime_plan.id}}</td>
                                <td>{{overtime_plan.date}}</td>
                                <td>{{overtime_plan.status}}</td>
                                <td>
                                    <a href="{%url 'add_overtime_schedule_page' overtime_plan.id%}"
                                       style="color:inherit">
                                        <button>Add Schedules</button>
                                    </a>
                            </tr>
                            {%endfor%}
                        </table>
                    </div>
                    {%else%}
                    <h3>No overtime plans</h3>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock content%}