{%extends 'solitonems/base.html'%}
{% load humanize %}
{% load static %}
{% block page_title %}
Overtime Applications

<script>
$(document).ready(function(){
  $("#search_input").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#overtime_application tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}

{%block content%}
<div class="content">
    <div class="container-fluid">
        <a href="{%url 'approved_overtime_page'%}">
            <button class="btn btn-danger">View Approved Applications</button>
        </a>
        <div class="card animated fadeInUp">
            <div class="card-body">
                {%if overtime_applications%}
                <div class="table-responsive">
                    <div class="form-group "> 
                        <i class="fas fa-search " aria-hidden="true"></i>
                        <input id="search_input" type="text" class="form-control" placeholder="Search....">                      
                    </div>
                    <table class="table">
                        <thead class="thead-dark">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Overtime Pay</th>
                        <th>Number of hours</th>
                        <th>Supervisor Approval</th>
                        <th>HOD Approval</th>
                        <th>CFO Approval</th>
                        <th>CEO Approval</th>
                        </thead>
                        <tbody id="overtime_application">
                        {%for overtime_application in overtime_applications%}
                        <tr>
                            <td>{{overtime_application.id}}</td>
                            <td>{{overtime_application.applicant.first_name}}
                                {{overtime_application.applicant.last_name}}
                            </td>
                            <td>{{ overtime_application.date }}</td>
                            <td>{{ overtime_application.start_time }}</td>
                            <td>{{ overtime_application.end_time }}</td>
                            <td>{{ overtime_application.description }}</td>
                            <td>{{ overtime_application.status }}</td>
                            <td>{{overtime_application.applicant.currency}} {{ overtime_application.overtime_pay | intcomma }}</td>
                            <td>{{ overtime_application.number_of_hours }}</td>
                            <td>{{overtime_application.supervisor_approval}}</td>
                            <td>{{overtime_application.HOD_approval}}</td>
                            <td>{{overtime_application.cfo_approval}}</td>
                            <td>{{overtime_application.ceo_approval}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <h3>No overtime applications</h3>
                {%endif%}
            </div>
        </div>
    </div>
</div>
{%endblock%}