      {% extends './base.html' %}
      {% block page_title %}
      <h1>Leave Applications</h1>
      {% endblock %}

      {% block content %}
      <div class="content">
        <div class="container-fluid">              
        
           <!-- Status Flash Messages -->
          {% if messages %}
            {% for msg in messages%}
              <div class="alert alert-{{ msg.tags }} alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
              &times;</button>
                {{ msg }}
              </div>
            {% endfor %}
          {% endif %}
      
      <div class="card animated fadeInUp">
        <div class="card-body">
        {% if not applications %}
        <h3>No Pending Applications</h3>
      {% else %}
        <div class="table-responsive">
          <table class="table table-hover thead-dark">
            <thead class="">
              <th>No. of Days</th>
              <th>Applicant</th>
              <th>Leave Type</th>
              <th>Balance</th>
              {% if role == "Supervisor" %}                
                <th>Status</th>
              {% elif role == "HOD" %}                
                <th>Supervisor<br>Status</th>
              {% elif role == "HR" %}                
                <th>Supervisor<br>Status</th>
                <th> HOD<br>Status </th>
              {% endif %}
              <th colspan=2 align="center">Action</th>
            </thead>
            <tbody>
              {% for app in applications  %}
              <tr>
              <form method="POST" action="{% url 'approve_leave' %}"> {% csrf_token %}
                <td>
                  <a href="#" style="color: inherit">{{ app.no_of_days}}</a>
                  <input type="hidden" id="ndays" name="ndays" value="{{ app.no_of_days}}">
                </td>
                <td>{{ app.employee}}<br>{{ app.start_date}} to {{ app.end_date}}</td>
                <td>
                  <input type="hidden" id="ltype" name="ltype" value="{{ app.leave_type_id}}">
                  {{ app.leave_type}}
                </td>
                <td>{{app.balance }}</td>                
                {% if role == "Supervisor" %}                
                  <td>{{app.supervisor}}<br>({{app.sup_Status }})</td>
                {% elif role == "HOD" %}                
                  <td>{{app.supervisor}}<br>({{app.sup_Status }})</td>
                {% elif role == "HR" %}                
                  <td>{{app.supervisor}}<br>({{app.sup_Status }})</td>
                  <td>{{app.hod}}<br>{{app.hod_status }}</td>
                {% endif %}
                <td>                  
                    <input type="hidden" id="app_id" name="app_id" value="{{app.id }}">
                    <button type="submit" class="btn btn-outline-success btn-rounded waves-effect" 
                    ... onclick="return confirm('Are you sure you want to Approve this request?')">
                      Approve</button>
                    <button type="button" class="btn btn-outline-danger btn-rounded waves-effect">
                      Reject</button>                  
                </td>
                </form>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif%}
    </div>
        </div>
      </div>
      {% endblock content %}

      <script>
        $(document).ready(function(){
        window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });
      }, 5000);

    </script>