      {% extends './base.html' %}
      {% block page_title %}
      <h1>Leave Dashboard</h1>
      {% endblock %}

      {% block content %}
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">pregnant_woman</i>
                  </div>
                  <p class="card-category">Maternity</p>
                  <h3 class="card-title">20 
                      
                  </h3>
                </div>
                <div class="card-footer">
                  
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">note_add</i>
                  </div>
                  <p class="card-category">Sick</p>
                  <h3 class="card-title">2
                      
                  </h3>
                </div>
                <div class="card-footer">
                </div>
              </div>
            </div> 
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">perm_identity</i>
                  </div>
                  <p class="card-category">Paternity</p>
                  <h3 class="card-title">2
                      
                  </h3>
                </div>
                <div class="card-footer">
                </div>
              </div>
            </div> 
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">hourglass_empty</i>
                  </div>
                  <p class="card-category">Compassionate</p>
                  <h3 class="card-title">2
                      
                  </h3>
                </div>
                
                <div class="card-footer">
                </div>
              </div>
            </div>                
          </div>
          <div class="col-md-12">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover thead-dark">
            <thead class="">
              <th>No. of Days</th>
              <th>Applicant</th>
              <th>Leave Type</th>
              <th>Balance</th>
              <th colspan=2 align="center">Action</th>
            </thead>
            <tbody>
              {% for app in applications  %}
              <tr>
                <td><a href="#" style="color: inherit">{{ app.no_of_days}}</a></td>
                <td>{{ app.Employee_Name}}<br>{{ app.start_date}} to {{ app.end_date}}</td>
                <td>{{ app.leave_type}}</td>
                <td>{{app.balance }}</td>
                <td>
                <button type="button" class="btn btn-outline-success btn-rounded waves-effect">Approve</button>
                <button type="button" class="btn btn-outline-danger btn-rounded waves-effect">Reject</button></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
        </div>
      </div>
      {% endblock content %}