{% extends './base.html' %}
{% block page_title %}
Leave Records - {{leave_year}}
{% endblock %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <form method="POST" action="{% url 'add_leave_records' %}"> {% csrf_token %}
      <div class="form-group">
        <label for="">Leave Year:</label>
        <select class="form-control" id="leave_yr" name="leave_yr" required>
          {% for yr in years %}
          <option >{{yr}}</option>
          {% endfor %}
        </select>

        <button type="submit" class="btn btn-danger" > Show Records </button></a>
      </div>
    </form>


  </div>

  <!-- Status Flash Messages -->
  {% if messages %}
  {% for msg in messages%}
  <div class="alert alert-{{ msg.tags }} alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ msg }}
  </div>
  {% endfor %}
  {% endif %}

  <div class="col-md-12">


    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="thead-dark">
            <th>Employee</th>
            <th>Entitlement</th>
            <th>Residue</th>
            <th>No. of Leaves</th>
            <th>Days Taken</th>
            <th>Balance</th>
            </thead>
            <tbody>
            {% for record in leave_records %}
            <tr>
              <td>{{ record.employee }}</td>
              <td>{{ record.entitlement}}</a></td>
              <td>{{ record.residue }}</td>
              <td>{{ record.leave_applied }}</td>
              <td>{{ record.total_taken }}</td>
              <td>{{ record.balance }}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <!-- Modal: modal_leave_year -->
    <div class="modal fade" id="modal_leave_year" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true" style="overflow-y: auto !important">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <!-- Header -->
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Select Leave Year</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
         
          <!-- Body -->
          <div class="modal-body">
            <form method="POST" action="{% url 'add_leave_records' %}"> {% csrf_token %}
              <div class="form-group">
                <label for="">Leave Year:</label>
                <select class="form-control" id="leave_yr" name="leave_yr" required>
                  {% for yr in years %}
                    <option >{{yr}}</option>       
                  {% endfor %}
                </select>
                
                <button type="submit" class="btn btn-danger" > Show Records </button></a>
              </div>
            </form>
          </form>

        </div>
      </div>
    </div>
    <!-- Modal: modalEditNewEmployee -->

    {% comment %} <form method="POST" action="{% url 'add_leave_records' %}"> {% csrf_token %}
      <div class="form-group">
        <label for="">Leave Year:</label>
        <select class="form-control" id="leave_yr" name="leave_yr" required>
          {% for yr in years %}
             <option >{{yr}}</option>       
          {% endfor %}
        </select>
        
        <button type="submit" class="btn btn-danger" > Show Records </button></a>
      </div>
    </form> {% endcomment %}

  </div>
  {% endblock content %}