{% extends './base.html' %}
{% load static %}
{% block page_title %}
Leave Types
<script>
$(document).ready(function(){
  $("#search_input").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#leave_types tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <!-- Button trigger modal-->
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_add_new_type">
      Add New Type +
    </button>

        <!-- Status Flash Messages -->
        {% if messages %}
        {% for msg in messages%}
        <div class="alert alert-{{ msg.tags }} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ msg }}
        </div>
        {% endfor %}
        {% endif %}

    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive table-striped table-condensed">
            <div class="form-group "> 
              <i class="fas fa-search " aria-hidden="true"></i>
              <input id="search_input" type="text" class="form-control" placeholder="Search....">                      
            </div>
            <table class="table table-hover" id="types_tables">
              <thead class="thead">
              <th>ID</th>
              <th>Type</th>
              <th>No. of Days</th>
              <th>Description</th>
              <th colspan=2>#</th>
              </thead>
              <tbody id="leave_types">
              
              {% for typ in types %}
              <tr data-id="{{ typ.id }}" >
                <td >{{ typ.id }}</td>
                <td>{{typ.leave_type}}</td>
                <td>{{typ.leave_days}}</td>
                <td>{{typ.description}}</td>
                <td>
                  <a href="{% url 'edit_leave_type_page' typ.id %}" style="color:inherit">
                    <i class="fa fa-edit">Edit</i>
                  </a>
                  <a href="{% url 'delete_leave_type' typ.id %}" style="color: inherit" ...
                     onclick="return confirm('Are you sure you want to delete @Type?')">
                     <i class="fa fa-trash">Delete</i>
                  </a></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
            {% comment %} <hr/>
            <table class="table table-hover" id="types_table">
              <thead class="thead">
              <th>ID</th>
              <th>Type</th>
              <th>No. of Days</th>
              <th>Description</th>
              <th colspan=2>#</th>
              </thead>
              <tbody>
              
              {% for typ in typess %}
              <tr data-id="{{ typ.id }}" >
                <td >{{ typ.id }}</td>
                <td>{{typ.leave_type}}</td>
                <td>{{typ.leave_days}}</td>
                <td>{{typ.description}}</td>
                <td>
                  <a href="{% url 'edit_leave_type_page' typ.id %}" style="color:inherit">
                    {% comment %} <button class="btn btn-success" data-toggle="modal"type="button">Edit</button>
                    <i class="fa fa-edit">Edit</i>
                  </a>
                  <a href="{% url 'delete_leave_type' typ.id %}" style="color: inherit" ...
                     onclick="return confirm('Are you sure you want to delete @Type?')">
                     <i class="fa fa-trash">Delete</i>
                  </a></td>
              </tr>
              {% endfor %}
              </tbody>
            </table> {% endcomment %}
          </div>
        </div>

    <!-- Modal: modal leave type -->
    <div class="modal fade" id="modal_add_new_type" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" style="overflow-y: auto !important">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <!-- Header -->
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Add Leave Type</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>

                    <!-- Body -->
                    <div class="modal-body">
                        <form method="POST" action="{% url 'add_new_type' %}"> {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Type"
                                       name="leave_type" required>
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="No. Of Days"
                                       name="leave_days" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Description"
                                       name="desc" required>
                            </div>

              <!--Footer-->
              <div class="modal-footer">
                <button class="btn btn-danger" type="submit">Save</button>
                <button class="btn btn-outline-danger" data-dismiss="modal" type="reset">Close</button>
              </div>
            </form>

          </div>
        </div>
      </div>          
    </div>

    <!-- Modal: modal edit Leave type -->  
    <div class="modal fade" id="modal_edit_type" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
           aria-hidden="true" style="overflow-y: auto !important">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Edit Leave Types</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <!-- Modal: modalEditNewEmployee -->

            <!-- Body -->
            <div class="modal-body">
              <form method="POST" action="{% url 'edit_leave_type_page' 1 %}"> {% csrf_token %}
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Type"
                         name="e_leave_type" id="edit_type" value={{leave.type}}>
                </div>
                <div class="form-group">
                  <input type="number" class="form-control"  placeholder="No. Of Days"
                         name="e_leave_days"id="edit_days" value={{ leave.leave_days }} required>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control"  placeholder="Description"
                         name="e_desc" id="edit_desc" value={{ leave.desc }} >
                </div>

                <!--Footer-->
              <div class="modal-footer">
                <button class="btn btn-danger" type="submit">Save</button>
                <button class="btn btn-outline-danger" data-dismiss="modal" type="reset">Close</button>
              </div>
              </form>
            </div>
        </div>
      </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'js/js.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.dataTables.min.js' %}"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/af-2.3.5/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/fc-3.3.1/kt-2.5.2/r-2.2.4/rg-1.1.2/rr-1.2.7/sp-1.1.0/sl-1.3.1/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/af-2.3.5/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/fc-3.3.1/kt-2.5.2/r-2.2.4/rg-1.1.2/rr-1.2.7/sp-1.1.0/sl-1.3.1/datatables.min.js"></script>
<script>
  // Material Design example
$(document).ready(function () {
  $('#types_table').DataTable({
      dom: 'B<"clear">lftrtip',
      buttons:{
        name: "primary",
        buttons: ['copy', 'csv', 'excel', 'pdf']
      }
    });
    
  $('#types_table_wrapper').find('label').each(function () {
    $(this).parent().append($(this).children());
  });
  $('#types_table_wrapper .dataTables_filter').find('input').each(function () {
    const $this = $(this);
    $this.attr("placeholder", "Search");
    $this.removeClass('form-control-sm');
  });
  $('#types_table_wrapper .dataTables_length').addClass('d-flex flex-row');
  $('#types_table_wrapper .dataTables_filter').addClass('md-form');
  $('#types_table_wrapper select').removeClass('custom-select custom-select-sm form-control form-control-sm');
  $('#types_table_wrapper select').addClass('mdb-select');
  $('#types_table_wrapper .mdb-select').materialSelect();
  $('#types_table_wrapper .dataTables_filter').find('label').remove();
  
});
</script>

{%endblock%}