{% extends './base.html'%}
{% load static %}
{% load javascript_settings_tags %}

{% block page_title %}Leave Application{% endblock %}

{%block content%}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-profile">

                    <div class="card-body">
                        <!-- Status Flash Messages -->
                        {% if messages %}
                        {% for msg in messages%}
                        <div class="alert alert-{{ msg.tags }} alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                &times;
                            </button>
                            {{ msg }}
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if l_balance == -1%}
                        <h2> You Don't have Leave Records for this Year</h2>
                        {% else %}
                        <h2>Annual Balance: <b>{{ l_balance }} day(s)</b></h2>
                        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#modal_apply_leave">
                            Apply Now
                        </button>

                        <h3>Your Applications</h3>
                        <table class="table">
                            <thead>
                            <th>Date</th>
                            <th>Leave Type</th>
                            <th>Duration</th>
                            <th>Supervisor</th>
                            <th>HOD</th>
                            <th>HR</th>
                            <th colspan="2">#</th>
                            </thead>
                            {% for leave_application in apps %}
                            <tr>
                                <td>{{leave_application.apply_date}}</td>
                                <td>{{leave_application.leave_type}}</td>
                                <td>{{leave_application.no_of_days}}</td>
                                <td>
                                    {% if leave_application.supervisor_status == "Approved"%}
                                        <i class="large material-icons">check</i>
                                    {% elif leave_application.supervisor_status == "Rejected"%}
                                        <i class="large material-icons">clear</i>                                    
                                    {% else%}
                                        <i class="large material-icons">remove</i>
                                    {% endif%}
                                </td>
                                <td>
                                    {% if leave_application.hod_status == "Approved"%}
                                        <i class="large material-icons">check</i>
                                    {% elif leave_application.hod_status == "Rejected"%}
                                        <i class="large material-icons">clear</i>
                                    {% else%}
                                        <i class="large material-icons">remove</i>
                                    {% endif%}
                                </td>
                                <td>
                                    {% if leave_application.hr_status == "Approved"%}
                                        <i class="large material-icons">check</i>
                                    {% elif leave_application.hr_status == "Rejected"%}
                                        <i class="large material-icons">clear</i>
                                    {% else%}
                                        <i class="large material-icons">remove</i>
                                    {% endif%}
                                </td>
                                <td>
                                    <a href="{% url 'leave_application_details' leave_application.id role%}">
                                        <button class="btn btn-outline-success btn-rounded waves-effect">
                                            View
                                        </button>
                                    </a>                                     
                                </td>
                            </tr>                           
                        {% endfor %}
                    </table>
                {% endif %}
            </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal: modalApplyLeave -->
<div class="modal fade" id="modal_apply_leave" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" style="overflow-y: auto !important">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Leave Application</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <!-- Body -->
            <div class="modal-body">
                <form method="POST" action="{% url 'apply_leave' %}"> {% csrf_token %}
                    <div class="form-group">
                        <label for="">Leave Type:</label>
                        <select class="form-control" name="ltype" id="leave_type" required>
                             <option >== Select Leave Type ==</option>
                            {% for ty in l_types %}
                            {% if ty.leave_type == ty %}
                            <option selected>{{ty.leave_type }}</option>
                            {% else %}
                            <option value="{{ty.id }}">{{ty.leave_type }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="No. of Days" 
                        id = "no_days" name="no_days" readOnly>
                    </div>

                    <div class="form-group">
                        <label for="start_date">Start Date</label>
                        <input type="date" class="form-control" placeholder="From" name="s_date" 
                        id="st_date" required >
                    </div>
                    <div class="form-group">
                        <label for="end_date">End Date</label>
                        <input type="date" class="form-control" placeholder="To" id="end_date" 
                        name="e_date" required readOnly>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Additional Note"
                               name="remark">
                    </div>

                    <!--Footer-->
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="submit">Apply</button>
                        <button class="btn btn-outline-danger" class="close" data-dismiss="modal" aria-label="Close">
                            Close
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'js/js.js' %}"></script>
<script type="text/javascript">{% javascript_settings %}</script>
{%endblock%}