{% extends 'solitonems/base.html' %}
{% block page_title %}
Books
{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {%csrf_token%}
                        <div class="form-group">
                            <label>Filter by Department</label>
                            <select class="form-control" name="department_id" required>
                                <option>All</option>
                                {%for department in departments%}
                                <option value={{department.id}}>{{department}}</option>
                                {%endfor%}
                            </select>
                        </div>
                        <input class="btn btn-primary" type="submit" value="Filter"/>
                    </form>

                    {%if resources%}
                    <h3 style="text-align:center;">Resources</h3>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-dark">
                            <th>Title</th>
                            <th>Producer</th>
                            <th>Format</th>
                            <th>Year</th>
                            <th>Description</th>
                            <th>File</th>
                            </thead>
                            <tbody>
                            {% for resource in resources %}
                            <tr>
                                <td>
                                    {{resource.name}}
                                </td>
                                <td>{{resource.producer}}</td>
                                <td>{{resource.file_format | title}}</td>
                                <td>{{resource.year_published}}</td>
                                <td>{{resource.description}}</td>
                                <td><a href="/media/{{resource.file}}">
                                    <button>Open</button>
                                </a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {%else%}
                    <h3>No Resources Available</h3>
                    {%endif%}
                </div>
            </div>
        </div>


    </div>
</div>
{%endblock content%}