{% extends 'solitonems/base.html' %}
{% block page_title %}
Manage Resources
{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_add_new_employee">
            Upload Resource
        </button>

        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    {%if resources%}
                    <h3 style="text-align:center;">Resources</h3>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-dark">
                            <th>Title</th>
                            <th>Producer</th>
                            <th>Format</th>
                            <th>Year</th>
                            <th>Description</th>
                            <th>File</th>
                            </thead>
                            <tbody>
                            {% for resource in resources %}
                            <tr>
                                <td>{{resource.name}}</td>
                                <td>{{resource.producer}}</td>
                                <td>{{resource.file_format | title}}</td>
                                <td>{{resource.year_published}}</td>
                                <td>{{resource.description}}</td>
                                <td><a href="/media/{{resource.file}}">
                                    <button>Open</button>
                                </a></td>
                                <td>
                                    <a href="{%url 'edit_resource_page' resource.id%}" style="color:inherit">
                                        <i class="fa fa-edit"></i>
                                    </a> |
                                    <a href="{%url 'delete_resource' resource.id%}" style="color: inherit" ...
                                       onclick="return confirm('Are you sure you want to delete this resource?')">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {%else%}

                    <h3>No Resources Available</h3>

                    {%endif%}
                </div>
            </div>
        </div>


        <!-- Modal: modalAddNewEmployee -->
        <div class="modal fade" id="modal_add_new_employee" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true" style="overflow-y: auto !important">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">New Resource</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        <form method="POST" action="#" enctype="multipart/form-data"> {%csrf_token%}

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Title"
                                       name="name" required>
                            </div>

                            <div class="form-group">
                                <label for="year">Year</label>
                                <input type="number" class="form-control" id="year"
                                       placeholder="Enter Year" name="year_published" required>
                            </div>

                            <div class="form-group">
                                <label for="producer">Producer</label>
                                <input type="text" class="form-control" id="producer"
                                       placeholder="Enter Producer" name="producer" required>
                            </div>
                            <div class="form-group">
                                <label>Format:</label>
                                <select class="form-control" name="file_format" required>
                                    <option>=== Select Format ===</option>
                                    <option value="video">Video</option>
                                    <option value="audio">Audio</option>
                                    <option value="book">Book</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="department">Department:</label>
                                <select id="department" class="form-control" name="department" required>
                                    <option>=== Select Department ===</option>
                                    {%for department in departments%}
                                    <option value={{department.id}}>{{department}}</option>
                                    {%endfor%}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" id="description" name="description"></textarea>
                            </div>

                            <input type="file" name="file">
                    </div>
                    <!--Footer-->
                    <div class="modal-footer">
                        <button class="btn btn-outline-danger" type="reset">Close</button>
                        <button class="btn btn-danger" type="submit">Save</button>
                    </div>
                    </form>

                </div>
            </div>
        </div>
        <!-- Modal: modalAddNewEmployee -->

    </div>
</div>
{%endblock content%}