{% extends './cfo.html'%}
{% block page_title %}
<h3>Amend overtime Application</h3>
{% endblock %}
{%block content%}
<div class="content">
    <div class="container-fluid">
        <div class="card animated fadeInUp">
            <div class="card-body">
                {%for message in messages%}
                <p>{{message}}</p>
                {%endfor%}
                <form method="POST" action="{% url 'cfo_amend_overtime' %}">
                    {%csrf_token%}
                    <div class="form-group">
                        <label>Date</label>
                        <input class="form-control" type="date" aria-describedby="emailHelp"
                               placeholder="Enter the date" name="date" value={{overtime_application.date.isoformat}}>
                    </div>

                    <div class="form-group">
                        <label>Start Time</label>
                        <input class="form-control" type="time" aria-describedby="emailHelp"
                               placeholder="Enter the start time" name="start_time" value="{{overtime_application.start_time.isoformat}}">
                    </div>
                     <div class="form-group">
                        <label>End Time</label>
                        <input class="form-control" type="time" aria-describedby="emailHelp"
                               placeholder="Enter the end time" name="end_time" value="{{overtime_application.end_time.isoformat}}">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input class="form-control" aria-describedby="emailHelp"
                               placeholder="Enter the overtime application description" name="description" value={{overtime_application.description}}>
                    </div>
                    <input type="hidden" name='id' value={{overtime_application.id}}>
                    <button class="btn btn-danger" type="submit">Save</button>
                </form>

            </div>
        </div>
    </div>
</div>
{%endblock%}