{% extends '../base.html'%} {% load static %}
{%block actor%}
CFO
{%endblock%}
{%block sidebar-wrapper%}
<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="nav-item {{ dashboard_page }}">
            <a class="nav-link" href="{% url 'cfo_role_page' %}">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
            </a>
        </li>
        <li class="nav-item {{ overtime_page }}">
            <a class="nav-link" href="{%url 'cfo_overtime_page'%}">
                <i class="material-icons">hourglass_empty</i>
                <p>Overtime</p>
            </a>
        </li>
        <li class="nav-iCFO Portaltem  {{ payroll_page }}">
            <a class="nav-link" href="#">
                <i class="material-icons">library_books</i>
                <p>Payroll</p>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href=" {% url 'logout' %} ">
                <i class="material-icons">exit_to_app</i>
                <p>Logout</p>
            </a>
        </li>

    </ul>
</div>
{%endblock%}

{%block content%}

{%endblock%}