{% extends './base.html' %}
{% block page_title %}
Manage Teams
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#search_input").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#teams tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <!-- Button trigger modal-->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_add_new_team">
            Add Team +
        </button>

        <!-- Status Flash Messages -->
        {% if messages %}
        {% for msg in messages%}
        <div class="alert alert-{{ msg.tags }} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ msg }}
        </div>
        {% endfor %}
        {% endif %}
        <!--End Status Flash Messages-->

        <div class="col-md-12">

            <div class="card">
                <div class="card-body">
                    {%if teams%}
                    <div class="table-responsive">
                        <div class="form-group ">
                            <i class="fas fa-search " aria-hidden="true"></i>
                            <input id="search_input" type="text" class="form-control" placeholder="Search....">
                        </div>
                        <br>
                        <table class="table table-hover">
                            <thead class="thead-dark">
                            <th>Name</th>
                            <th>Supervisor</th>
                            <th>Department</th>
                            <th>Status</th>
                            <th>Action</th>
                            </thead>
                            <tbody id="teams">
                            {% for team in teams %}
                            <tr>
                                <td><a href="{% url 'team_employees' team.id %}" style="color: inherit">{{ team.name }}</a></td>
                                <td>{{ team.supervisor }}</td>
                                <td>{{team.department}}</td>
                                <td>{{ team.status }}</td>

                                <td><a href="{%url 'edit_team_page' team.id%}" style="color:inherit"><i class="fa fa-edit"></i></a> |
                                    <a href="{%url 'delete_team' team.id%}" style="color: inherit" ...
                                       onclick="return confirm('Are you sure you want to delete the {{team}} team?')"><i
                                            class="fa fa-trash"></i>
                                    </a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {%else%}
                    <h3>No Teams Available</h3>
                    {%endif%}
                </div>
            </div>
        </div>

        <!-- Modal: modalAddNewTeam -->
        <div class="modal fade" id="modal_add_new_team" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true" style="overflow-y: auto !important">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!-- Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Add Team</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>

                    <!-- Body -->
                    <div class="modal-body">
                        <form method="POST" action="{% url 'add_new_team' %}"> {% csrf_token %}
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="dept" value="{{ dep.id }}">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Team Name"
                                       name="team_name" required>
                            </div>
                            <div class="form-group">
                                <label for="supervisor">Supervisor</label>
                                <select class="form-control" id="supervisor" name="supervisor_id" required>
                                    {% for employee in employees %}
                                    <option value={{ employee.id }}>{{employee}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="department">Department</label>
                                <select class="form-control" id="department" name="department_id" required>
                                    {% for department in departments %}
                                    <option value={{ department.id }}>{{department}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                    </div>
                    <!--Footer-->
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="submit">Save</button>
                        <button class="btn btn-outline-danger" type="reset">Close</button>
                    </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}