<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="registration/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'registration/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'registration/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'registration/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'registration/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'registration/vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'registration/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'registration/vendor/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'registration/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'registration/css/main.css' %}">

<!--    Materialize-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--===============================================================================================-->
    <style>

	    @font-face {
        font-family: "segoeFont";
        src: url("{% static 'registration/fonts/segoe-ui-light/segoeuil.ttf' %}");
        }

		body {
		font-family: 'segoeFont','Arial'
		}



    </style>
</head>
<body>

{%block content%}
{% endblock %}
<div id="dropDownSelect1"></div>

<script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>
<script>
    bootstrapValidate('#new_password1', 'min:8:####  Enter Atleast 8 characters ####')
    bootstrapValidate('#new_password2', 'matches:#new_password1:####  Your passwords should match  ####')

</script>

<!--===============================================================================================-->
<script src=" {% static 'registration/vendor/jquery/jquery-3.2.1.min.js' %} "></script>
<!--===============================================================================================-->
<script src=" {% static 'registration/vendor/animsition/js/animsition.min.js' %} "></script>
<!--===============================================================================================-->
<script src=" {% static 'registration/vendor/bootstrap/js/popper.js' %} "></script>
<script src=" {% static 'registration/vendor/bootstrap/js/bootstrap.min.js' %} "></script>
<!--===============================================================================================-->
<script src=" {% static 'registration/vendor/select2/select2.min.js' %} "></script>
<!--===============================================================================================-->
<script src=" {% static 'registration/vendor/daterangepicker/moment.min.js' %} "></script>
<script src=" {% static 'registration/vendor/daterangepicker/daterangepicker.js' %} "></script>
<!--===============================================================================================-->
<script src=" {% static 'registration/vendor/countdowntime/countdowntime.js' %} "></script>
<!--===============================================================================================-->
<script src=" {% static 'registration/js/main.js' %} "></script>

</body>
</html>