{%extends 'solitonems/base.html'%}
{% load humanize %}
{% load static %}
{% block page_title %}
HOD Required
{% endblock %}

{%block content%}
<div class="content">
    <div class="container-fluid">
        <div class="card animated fadeInUp">
            <div class="card-body">
                <center>
                    <i class="fa fa-lock" style="font-size:10em"></i>
                    <p>401 Unauthorized</p>
                    <h2>This module is locked. HOD rights are required to access this module. </h2>
                </center>
            </div>
        </div>
    </div>
</div>
{%endblock%}