{%extends 'solitonems/base.html'%}
{% load humanize %}
{% load static %}
{% block page_title %}
<h3>HR Required</h3>
{% endblock %}

{%block content%}
<div class="content">
    <div class="container-fluid">
        <div class="card animated fadeInUp">
            <div class="card-body">
                <center>
                    <i class="fa fa-lock" style="font-size:10em"></i>
                    <p>401 Unauthorized</p>
                    <h1>This module is locked. HR rights are required to access this module. </h1>
                </center>
            </div>
        </div>
    </div>
</div>
{%endblock%}