{% extends 'solitonems/base.html' %}
{% block page_title %}
Edit User
{% endblock %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
           <form method="POST" action="#">{%csrf_token%}
               {{user_form.as_p}}
                <hr/>
               {{soliton_user_form.as_p}}
             <button class="btn btn-danger" type="submit">Edit User</button>
           </form>
        </div>
      </div>
    </div>
    <!-- Modal: modalAddNewEmployee -->

  </div>
</div>
</div>
{%endblock content%}