{% extends 'solitonems/base.html' %}
{% block page_title %}
Manage User Permissions

<script>
$(document).ready(function(){
  $("#search_input").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#user_permissions tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="col-md-12">
            {%if not permissions%}
            <a href="{%url 'manage_user_permissions_page' user_id%}">
                <button class="btn btn-danger">Generate Initial Permissions</button>
            </a>
            {%endif%}
            <div class="card">
                <div class="card-body">
                    {{ user_form.non_field_errors }}
                    {%if permissions%}
                    <div class="table-responsive">
                        <div class="form-group "> 
                                <i class="fas fa-search " aria-hidden="true"></i>
                                <input id="search_input" type="text" class="form-control" placeholder="Search....">                      
                            </div>
                        <table class="table table-hover">
                            <thead class="thead-dark">
                            <th>Process/Module</th>
                            <th>Full Auth</th>
                            <th>View Only</th>
                            <th>Actions</th>
                            </thead>
                            <tbody id="user_permissions">
                            {% for permission in permissions %}
                            <tr>
                                <td>{{permission.name}}</td>

                                <td>
                                    {%if permission.full_auth%}
                                    <i class="large material-icons">check</i>
                                    {%else%}
                                    <i class="large material-icons">clear</i>
                                    {%endif%}
                                </td>
                                <td>
                                    {%if permission.view_only%}
                                    <i class="large material-icons">check</i>
                                    {%else%}
                                    <i class="large material-icons">clear</i>
                                    {%endif%}
                                </td>

                                <td>
                                    <a href="{%url 'edit_user_permission_page' permission.id%}">
                                        <button>Edit</button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {%else%}
                    <h3>No permissions available for the user</h3>
                    {%endif%}
                </div>
            </div>
        </div>

        <!-- Modal: modalAddNewEmployee -->
        <div class="modal fade" id="modal_add_new_employee" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true" style="overflow-y: auto !important">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">User Form</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        <form method="POST" action="#"> {%csrf_token%}
                            {% for field in user_form %}
                            <div class="form-group">
                                {{ field.errors }}
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                            {% endfor %}
                            {% for field in soliton_user_form %}
                            <div class="form-group">
                                {{ field.errors }}
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                            {% endfor %}


                            <!--Footer-->
                            <div class="modal-footer">
                                <button class="btn btn-outline-danger" type="reset">Close</button>
                                <button class="btn btn-danger" type="submit">Save</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <!-- Modal: modalAddNewEmployee -->

        </div>
    </div>
</div>
{%endblock content%}