{% extends 'solitonems/base.html' %}
{% block page_title %}
Audit Trail
<script>
$(document).ready(function(){
  $("#search_input").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#audit_trail tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="form-group "> 
                            <i class="fas fa-search " aria-hidden="true"></i>
                            <input id="search_input" type="text" class="form-control" placeholder="Search....">                      
                        </div>
                        <table class="table table-hover">
                            <thead class="thead-dark">
                            <th>ID</th>
                            <th>Activity</th>
                            <th>Time</th>
                            <th>Last Login</th>
                            </thead>
                            <tbody id="audit_trail">
                            {% for audit_trail in audit_trails %}
                            <tr>
                                <td>{{audit_trail.id}}</td>
                                <td>{{audit_trail.activity_name}}</td>
                                <td>{{audit_trail.created_at}}</td>
                                <td>{{audit_trail.user.last_login}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock content%}