{% extends 'solitonems/base.html' %}
{% block page_title %}
Users
<script>
$(document).ready(function(){
  $("#search_input").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#view_users tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="form-group "> 
                                <i class="fas fa-search " aria-hidden="true"></i>
                                <input id="search_input" type="text" class="form-control" placeholder="Search....">                      
                            </div>
                        <table class="table table-hover">
                            <thead class="thead-dark">
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Last Login</th>
                            <th>Actions</th>
                            </thead>
                            <tbody id="view_users">
                            {% for user in users %}
                            <tr>
                                <td>{{user.id}}</td>
                                <td>{{user.solitonuser.employee}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.last_login}}</td>
                                <td><a href="{%url 'user_audit_trail' user.id%}">
                                    <button>View Audit Trail</button>
                                </a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
{%endblock content%}