{%extends 'solitonems/base.html'%}
{% load humanize %}
{% load static %}
{% block page_title %}
Organisation Detail Required
{% endblock %}

{%block content%}
<div class="content">
    <div class="container-fluid">
        <div class="card animated fadeInUp">
            <div class="card-body">
                <center>
                    <h1>423</h1>
                    <p>423 Locked</p>
                    <h2>Organisation Detail such as Job position and Department are required in order to access
                        this module </h2>
                </center>
            </div>
        </div>
    </div>
</div>
{%endblock%}