{% extends 'solitonems/base.html' %}
{% block page_title %}
  <a href="{% url 'employees_page'%}" style="color: inherit;"><i class="material-icons">keyboard_backspace</i></a>    
  <h1>About Us</h1>
{% endblock %}

{% block content %} 
<div class="content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card-body">
      
        <div class="form-group">
            <h3> <strong> Our Vision</strong></h3>
            <hr/>
                <p>We Develop and operate telecommunicatio  Networks for our clients using innovative technologies to transforn Lives</p>
                To connect every household, settlement,
village, town and city in Africa to the global
network for sustainable livelihoods.
              </div>   

            <div class="form-group">
            <h3> <strong>Our Mission</strong></h3>
            <hr/>
                <p>
                We design, build, operate and maintain
telecommunications infrastructure
& systems, using state-of-the-art
equipment and machinery. Through
practice based research and innovation,
we apply appropriate technologies
in line with industry best practices;
without compromising the integrity of the
environment.
                </p>
              </div>   
        <div class="form-group">
            <h3> <strong>Core Values</strong></h2>
            <hr/>
                <p>
                We’re passionate about:
                <ul>
                 <li>Integrity</li>
                 <li>Innovation</li>
                 <li>Teamwork</li>
                 <li>Customer Centricity</li>
                </p>
              </div>         
        <div class="form-group">
            <h3> <strong>Historical Background</strong></h2>
            <hr/>
            <p>     Soliton Telmec Limited is a telecommunications technology company with their head office based in Nairobi, Kenya. The company was established in 2005, after evolving from Soliton Systems. We build and support both the basic and complex infrastructure required to enable electronic communications across the nation which include data centers, fiber optic lines; and the related routing and transmission equipment, including on-going support backed by a Service Level Agreement. With subsidiary offices in Uganda, Kampala and a branch in Mombasa, Kenya to support project implementation in the region, we provide services across the East Africa region.
            </p>
        </div> 
        <div class="form-group">
            <h3> <strong>Services Provided</strong></h2>
            <hr/>
            <p> 
            <ul>    
            <li>Design, rollout and maintenance of fiber optic networks</li>
<li>Data center development and transmission systems</li>
<li>Data center services: Managed services, disaster recovery & Colocation services</li>
<li>Unified communication and networking services</li>
<li>Information systems development, implementation and support</li>
<li>CCTV designs, deployment and maintenance services.</li>
<li>Service assurance systems and solutions</li>
<li>Simulation laboratory and Training Services</li>
<li>NOC (Network Operator Centre) Services in Nairobi and Uganda</li>
<li>Authorized Sales and Support Centre for: EXFO, Fujikura, Juniper, Fiber home, Corning
& IBM solutions.</li>
<li>Supply and Installation of Datacom and IT equipment e.g. switches, routers, racks etc</li>
<li>IT services: LAN, WAN connectivity for enterprises</li>
<li>Turnkey managed services of communication infrastructure:</li>
     <ol style = "list-style-type: upper-roman"><li>Leased Capacity</li>
      <li>Back hauling</li>
      <li>Internet Services:- Internet connectivity, DNS and smart host services</li>
      <li>VPN solutions for both private and public</li>
      <li>Dark Fiber</li>
      <li>Collocation Services</li></ul>
  </ul>
            </p>
        </div> 
        <div class="form-group">
            <h3> <strong>Management Philosophy</strong></h2>
            <hr/>
            <p>
               We recruit, select, develop and retain top
talent in order to deliver our promise to
clients.
Our team of experts comprises of young,
dynamic and talented employees. Through
strategic partnerships with leading
institutions and universities, first class
students are recommended for internship
and training programs. These initiatives
provide employment opportunities for 100s.
Today, 90% of our personnel & experts have
been mentored and  coached through these
partnerships.
</br>
Soliton Telmec advances regional excellence in
Telecommunication Engineering by ensuring world leading
connectivity, creating platforms for collaboration and
developing unique solutions for the sector.
We are committed to assisting our customers efficiently
and effectively. Building networks for life is our guarantee
embodied in 3 dynamic business-building pillars:
<ol>
<li>Delivering Africa’s Telecommunication Network</li>
<li>Enabling a creative, connected work environment</li>
<li>Building Services Capability</li>
</ol>
We are committed to unlocking opportunities for all Africans.


            </p>
        </div> 
        <div class="form-group">
            <h3> <strong>Customer Relations</strong></h2>
            <hr/>
            <p>Soliton Telmec Limited is a telecommunications technology company with their head office based in Nairobi, Kenya. The company was established in 2005, after evolving from Soliton Systems. We build and support both the basic and complex infrastructure required to enable electronic communications across the nation which include data centers, fiber optic lines; and the related routing and transmission equipment, including on-going support backed by a Service Level Agreement. With subsidiary offices in Uganda, Kampala and a branch in Mombasa, Kenya to support project implementation in the region, we provide services across the East Africa region.
            </p>
        </div>
  </div>
  </div>
  </div>
</div>
 
{% endblock content %} 