{% extends './base.html'%} {% load static %}
{% block page_title %}
<span>
    <h1>Activate Passive Employees</h1>
</span> {% endblock %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        {%if employees%}
                        <h3 style="text-align:center;">Passive Employees</h3>
                        <hr>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="thead-dark">
                                <th>Name</th>
                                <th>Hired Date</th>
                                <th>Position</th>
                                <th>Department</th>
                                <th>Gender</th>
                                <th>Actions</th>
                                </thead>
                                <tbody>
                                {% for employee in employees  %}
                                <tr>
                                    <td><a href="{% url 'employee_page' employee.id %}" style="color: inherit">{{employee.first_name}}
                                        {{employee.last_name}}</a></td>
                                    <td>{{employee.start_date}}</td>
                                    <td>{{employee.organisationdetail.position}}</td>
                                    <td>{{employee.organisationdetail.department.name}}</td>
                                    <td>{{employee.gender}}</td>
                                    <td>
                                        <a href="{% url 'activate_employee' employee.id %}" style="color:inherit">
                                            <button>Activate</button>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <a href="{%url 'employees_download' %}">
                                <button class="btn btn-outline">Export CSV Report</button>
                            </a>
                        </div>

                        {%else%}

                        <h3>No passive employees available</h3>

                        {%endif%}

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}