{%extends './base.html'%}

{%load static %}


{%block page_title %}
<span>
  <a href="{% url 'employees_page'%}" style="color: inherit;"><i class="material-icons" >keyboard_backspace</i></a>
  <h3>Employee</h3>
</span>
{%endblock%}

{% block content %}
   <div class="content">
     <div class="container-fluid">
       <div class="row">
                   <div class="col-md-6">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" src="{% static '/assets/img/faces/marc.jpg' %}" />
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-category text-gray">Position</h6>
                  <h4 class="card-title">Bio Data</h4>
                  
                  <div class="card-description">

                    <table class="table">
                      
                      
                      <tr>
                        <td>Name</td>
                        <td>Mark</td>
                      </tr>
                      <tr>
                        <th scope="row">Position</th>
                        <td>Jacob</td>
                      </tr>
                      <tr>
                        <th scope="row">Gender</th>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <th scope="row">Start Date</th>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <th scope="row">Marital Status</th>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <th scope="row">Date Of Birth</th>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <th scope="row">Nationality</th>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <th scope="row">NSSF Number</th>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <th scope="row">Telephone</th>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <th scope="row">Residence Address</th>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <th scope="row">National ID NUMBER</th>
                        <td>Larry</td>
                      </tr>
                      <tr>
                        <th scope="row">URA TIN</th>
                        <td>Larry</td>
                      </tr>
                    </table>

                  </div>



                  <a href="#pablo" class="btn btn-primary btn-round">Follow</a>
                </div>
              </div>
            </div>
       </div>
     </div>
   </div>
{% endblock content %}