{%extends './base.html'%}
      
{%block page_title %}
  Employees
{%endblock%}

{%block content%}
<div class="content">
  <div class="container-fluid">
    <!-- Button trigger modal-->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalCart">Add New Employee +</button>

<!-- Modal: modalCart -->
<div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Employee Bio Data</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
    <div class="modal-body">
       
     <form>
        <div class="form-group">
          <input type="text" class="form-control" 
          aria-describedby="emailHelp" placeholder="Enter first name" name="first_name"> 
        </div>
        

        <div class="form-group">
          <input type="text" class="form-control" 
          aria-describedby="emailHelp" placeholder="Enter last name" name="last_name" name = "last_name"> 
        </div>
        

        <div class="form-group">
          <label for="sel1">Gender:</label>
          <select class="form-control" id="sel1" name="gender">
          <option>Male</option>
          <option>Female</option>
          </select>
        </div>

        <div class="form-group">
          <label for="sel1">Marital Status:</label>
          <select class="form-control" id="sel1" name="marital_status">
          <option>Single</option>
          <option>Married</option>
          </select>
        </div>
        
        <div class="form-group">
          <label>Start Date</label>
          <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" 
           placeholder="Enter Natianality" name = "nationality"> 
        </div>

        <div class="form-group">
          <input type="number" class="form-control" 
           placeholder="Enter NSSF Number" name = "nssf_no"> 
        </div>

        <div class="form-group">
          <input type="number" class="form-control" 
           placeholder="Enter URA TIN" name = "ura_tin"> 
        </div>

        <div class="form-group">
          <input type="number" class="form-control" 
           placeholder="Enter National ID Number" name = "national_id"> 
        </div>

        <div class="form-group">
          <input type="number" class="form-control" 
           placeholder="Enter Telephone Number" name = "telephone"> 
        </div>

        <div class="form-group">
          <input type="text" class="form-control" 
           placeholder="Enter Residence Address" name = "residence_address"> 
        </div>
      
      {% comment %} <button type="submit" class="btn btn-primary">Submit</button> {% endcomment %}
  
      




      </div>
      <!--Footer-->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
        <button class="btn btn-danger" type="submit">Save</button>
      </div>
      </form> 

    </div>
  </div>
</div>
<!-- Modal: modalCart -->
     
  </div>
</div>
{%endblock content%}