{%extends './base.html'%}

{%load static %}


{%block page_title %}
<span>
  <a href="{% url 'employees_page'%}" style="color: inherit;"><i class="material-icons" >keyboard_backspace</i></a>
  <h3>{{employee.first_name}} {{employee.last_name}}</h3>
</span>
{%endblock%}

{% block content %}
   <div class="content">
     <div class="container-fluid">
       <div class="row">
                   <div class="col-md-12">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" src="{% static '/assets/img/faces/marc.jpg' %}" />
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-category text-gray">{{employee.position}}</h6>
                  <h4 class="card-title">Bio Data</h4>
                  
                  <div class="card-description">

                    <table class="table">
                      
                      
                      <tr>
                        <td>Name</td>
                        <td>{{employee.first_name}} {{employee.last_name}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Position</th>
                        <td>{{employee.position}} </td>
                      </tr>
                      <tr>
                        <th scope="row">Gender</th>
                        <td>{{employee.gender}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Start Date</th>
                        <td>{{employee.start_date}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Marital Status</th>
                        <td>{{employee.marital_status}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Date Of Birth</th>
                        <td>{{employee.dob}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Nationality</th>
                        <td>{{employee.nationality}}</td>
                      </tr>
                      <tr>
                        <th scope="row">NSSF Number</th>
                        <td>{{employee.nssf_no}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Telephone</th>
                        <td>{{employee.telephone_no}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Residence Address</th>
                        <td>{{employee.residence_address}}</td>
                      </tr>
                      <tr>
                        <th scope="row">National ID NUMBER</th>
                        <td>{{employee.national_id}}</td>
                      </tr>
                      <tr>
                        <th scope="row">URA TIN</th>
                        <td>{{employee.ura_tin}}</td>
                      </tr>
                    </table>

                  </div>



                  <a href="#" class="btn btn-primary btn-round">Contact</a>
                </div>
              </div>
            </div>
       </div>
     </div>
   </div>
{% endblock content %}