{% extends './base.html' %}
{% block page_title %}
<span>
    <a href="{% url 'departments_page'%}" style="color: inherit;">
    <i class="material-icons">keyboard_backspace</i></a>
    <h1>{{dep.name}} Teams</h1>
</span>
{% endblock %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <!-- Button trigger modal-->
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_add_new_team">
      Add Team +
    </button>
        
    <div class="col-md-12">

      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="thead-dark">
              <th>Name</th>
              <th>Supervisors</th>
              <th>Employees</th>
              <th>Status</th>
              <th colspan=2>#</th>
              </thead>
              <tbody>
              {% for team in teams %}
              <tr>
                <td><a href="#" style="color: inherit">{{ team.name }}</a></td>
                <td>{{ team.supervisors }}</td>
                <td><a href="#" style="color: inherit" data-toggle="modal" data-target="#modal_add_new_teamie">
                  {{ team.employee_set.all.count }}</a></td>
                <td>{{ team.status }}</td>

                <td>
                  <a href="{% url 'edit_team_page' team.id%}" style="color:inherit">
                    <i class="fa fa-edit">Edit</i>
                  </a>|
                  <a href="{% url 'delete_team' team.id%}" style="color: inherit" ...
                     onclick="return confirm('Are you sure you want to delete @Type?')">
                     <i class="fa fa-trash">Delete</i>
                  </a>
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal: modalAddNewTeam -->
    <div class="modal fade" id="modal_add_new_team" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" style="overflow-y: auto !important">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <!-- Header -->
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Add Team</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>

          <!-- Body -->
          <div class="modal-body">
            <form method="POST" action="{% url 'add_new_team' %}"> {% csrf_token %}
              <div class="form-group">
                <input type="hidden" class="form-control"  name="dept" value="{{ dep.id }}">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Team Name"
                       name="team_name" required>
              </div>
              <div class="form-group">
                <label for="">Supervisor</label>
                <select class="form-control" id="hod" name="sups" required>
                  {% for emp in emps %}
                  {% comment %} {% if depart.hod == emp %}
                  <option selected>{{emp.first_name }}{{emp.last_name }}</option>
                  {% else %} {% endcomment %}
                  <option value={{ emp.id }}>{{emp.first_name }}{{emp.last_name }}</option>
                  {% comment %} {% endif %} {% endcomment %}
                  {% endfor %}
                </select>
              </div>
          </div>
                  <!--Footer-->
          <div class="modal-footer">
            <button class="btn btn-danger" type="submit">Save</button>
            <button class="btn btn-outline-danger" type="reset">Close</button>
          </div>
          </form>

        </div>
      </div>
    </div>
    <!-- Modal: modalAddNewHoliday -->

    {% comment %} <div class="modal fade" id="modal_edit_employee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                       aria-hidden="true" style="overflow-y: auto !important">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- Header -->
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Edit Leave Types</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <!-- Body -->
        <div class="modal-body">
          <form method="POST" action="{% url 'edit_leave_type_page' leave.id %}"> {% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Type"
                     name="e_leave_type" value={{leave.type}} required>
            </div>
            <div class="form-group">
              <input type="number" class="form-control"  placeholder="No. Of Days"
                     name="e_leave_days" value={{ leave.leave_days }} required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control"  placeholder="Description"
                     name="e_desc" value={{ leave.desc }} required>
            </div>

            <!--Footer-->
            <div class="modal-footer">
              <button class="btn btn-danger" type="submit">Save</button>
              <button class="btn btn-outline-danger" type="reset">Close</button>
            </div>
          </form>

        </div>
      </div>
    </div> {% endcomment %}
    <!-- Modal: modalAddNewHoliday -->

    <!-- Modal: modalaAssignEmployee-->
    <div class="modal fade" id="modal_add_new_teamie" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" style="overflow-y: auto !important">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <!-- Header -->
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Add Team</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>

          <!-- Body -->
          <div class="modal-body">
            <form method="POST" action="{% url 'add_new_team' %}"> {% csrf_token %}
              <div class="form-group">
                <label for="">Employee:</label>
                <select class="form-control" id="hod" name="sups" required>
                  {% for emp in emps %}
                  {% if depart.hod == emp %}
                  <option selected>{{emp.first_name }}{{emp.last_name }}</option>
                  {% else %}
                  <option>{{emp.first_name }}{{emp.last_name }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
              <button class="btn btn-danger" type="submit">+ Assign</button>
              <div class="col-md-12">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead class="thead-dark">
                      <th>Employee</th>
                      <th>Action</th>
                      </thead>
                      <tbody>
                      {% for emp in team_emps  %}
                      <tr>
                        <td><a href="#" style="color: inherit">{{ emp.name }}</a></td>
                        <td><a href="#" style="color:inherit">Unassign</a></td>
                      </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <!--Footer-->
              {% comment %}
              <div class="modal-footer">
                <button class="btn btn-danger" type="submit">Save</button>
                <button class="btn btn-outline-danger" type="reset">Close</button>
              </div> {% endcomment %}
            </form>

          </div>
        </div>
      </div>
      <!-- Modal: modal_add_new_teamie -->
    </div>
  </div>
    {% endblock content %}