{%extends '../base.html'%}
{%block actor%}
Employee
{%endblock%}

{%block sidebar-wrapper%}
<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="nav-item {{ view_profile_page }}">
            <a class="nav-link" href="{% url 'employee_role_page' %}">
                <i class="material-icons">dashboard</i>
                <p>View Profile</p>
            </a>
        </li>
        <li class="nav-item {{leave_page}}">
            <a class="nav-link" href="{% url 'employee_leave_page' user.solitonuser.employee.id  %}">
                <i class="material-icons">pregnant_woman</i>
                <p>Leave</p>
            </a>
        </li>
        <li class="nav-item {{payslip_page}}">
            <a class="nav-link" href="{% url 'employee_payslip_page' user.solitonuser.employee.id %}">
                <i class="material-icons">library_books</i>
                <p>Payslip</p>
            </a>
        </li>
        <li class="nav-item {{overtime_page}}">
            <a class="nav-link" href="{% url 'employee_overtime_page' user.solitonuser.employee.id %}">
                <i class="material-icons">hourglass_empty</i>
                <p>Overtime</p>
            </a>
        </li>
        <li class="nav-item {{supervisees_page}}">
            <a class="nav-link" href="{% url 'employee_supervisees_page' user.solitonuser.employee.id%}">
                <i class="material-icons">people</i>
                <p>Supervisees</p>
            </a>
        </li>
    </ul>
    
</div>


{%endblock%}