{% extends './base.html'%} {% load static %}

{% block page_title %}
<h2>Leave</h2>
{% endblock %}

{%block content%}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-profile">

                    <div class="card-body">
                    <!-- Status Flash Messages -->
                        {% if messages %}
                            {% for msg in messages%}
                                <div class="alert alert-{{ msg.tags }}">
                                    {{ msg }}
                                </div>
                             {% endfor %}
                        {% endif %} 
                        
                        <h2>Annual Leave Balance: <b>{{ l_balance }} day(s)</b></h2>
                        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#modal_apply_leave">Apply For Leave</button>
                       <a class="nav-link" href="{% url 'leave_planner' %}">
                        <button class="btn btn-outline-primary" >Leave Planner</button></a>
                       <h3>Leave Applications</h3>
                        <table class="table">
                            <thead>
                                <th>Date Applied</th>
                                <th>Leave Type</th>
                                <th>Status</th>
                            </thead>
                            {%for leave_application in leave_applications%}
                            <tr>
                                <td>{{leave_application.apply_date}}</td>
                                <td>{{leave_application.leave_type}}</td>
                                <td>{{leave_application.app_status}}</td>
                            </tr>
                            {%endfor%}
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal: modalApplyLeave -->
<div class="modal fade" id="modal_apply_leave" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" style="overflow-y: auto !important">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Leave Application</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <!-- Body -->
            <div class="modal-body">
                <form method="POST" action="{% url 'apply_leave' %}"> {% csrf_token %}
                    <div class="form-group">
                        <label for="">Leave Type:</label>
                        <select class="form-control" id="ltype" name="ltype" required>
                            {% for ty in l_types %}
                            {% if ty.leave_type == ty %}
                            <option selected>{{ty.leave_type }}</option>
                            {% else %}
                            <option value="{{ty.id }}">{{ty.leave_type }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="start_date">Start Date</label>
                        <input type="date" class="form-control" placeholder="From" name="s_date" required>
                    </div>

                    <div class="form-group">
                        <label for="end_date">End Date</label>
                        <input type="date" class="form-control" placeholder="To" name="e_date" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Additional Note" name="remark" required>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="submit">Apply</button>
                        <button class="btn btn-outline-danger" data-dismiss="modal" aria-label="Close">Close</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
    {%endblock%}