{% extends '../base.html'%} {% load static %}
{%block sidebar-wrapper%}
<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="nav-item {{ view_profile_page }}">
            <a class="nav-link" href="{% url 'dashboard_page' %}">
                <i class="material-icons">dashboard</i>
                <p>View Profile</p>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'leave_page' %}">
                <i class="material-icons">pregnant_woman</i>
                <p>Leave</p>
            </a>
        </li>
        <li class="nav-item  {{ payroll_page }}">
            <a class="nav-link" href="{% url 'employee_payslip_page' user.solitonuser.employee.id %}">
                <i class="material-icons">library_books</i>
                <p>Payslip</p>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href=" {% url 'logout' %} ">
                <i class="material-icons">exit_to_app</i>
                <p>Logout</p>
            </a>
        </li>

    </ul>
</div>


{%endblock%}
{% block page_title %}
<h2>Leave</h2>
{% endblock %}

{%block content%}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-profile">
                  
                    <div class="card-body">
                        
                    <button class="btn btn-outline-primary">Apply For Leave</button>
                    <h3>Leave Applications</h3>
                    <table class="table">
                        <thead>
                            <th>Date Applied</th>
                            <th>Leave Type</th>
                            <th>Status</th>
                        </thead>
                    </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
    {%endblock%}