{% extends './base.html'%}
{% load humanize %}
{% load static %}
{% block page_title %}
<h3>Overtime Applications</h3>
{% endblock %}

{%block content%}
<div class="content">
    <div class="container-fluid">
        <div class="card animated fadeInUp">
            <div class="card-body">
            {%block overtime_applications%} {%endblock%}
            </div>
        </div>
    </div>
</div>

<!-- Modal: modalApplyOvertime -->
<div class="modal fade" id="modal_apply_leave" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" style="overflow-y: auto !important">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Overtime Application</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <!-- Body -->
            <div class="modal-body">
                <form method="POST" action="{% url 'apply_overtime'%}"> {% csrf_token %}
                    <div class="form-group">
                        <label>Overtime Date</label>
                        <input type="date" class="form-control" placeholder="overtime" name="date" required>
                    </div>

                    <div class="form-group">
                        <label for="start_time">Start Time</label>
                        <input type="time" class="form-control" placeholder="From" name="start_time" required>
                    </div>

                    <div class="form-group">
                        <label for="end_time">End Time</label>
                        <input type="time" class="form-control" placeholder="To" name="end_time" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Description" name="description" required>
                    </div>
                    <input type="hidden" value="{{user.solitonuser.employee.id }}" name="supervisor_id>
                    <!--Footer-->
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="submit">Apply</button>
                        <button class="btn btn-outline-danger" data-dismiss="modal" aria-label="Close">Close</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{%endblock%}