{% extends './base.html'%}
{% load humanize %}
{% load static %}

{% block page_title %}
<h3>Latest Payslip</h3>
{% endblock %}

{%block content%}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-profile">
                    <div class="card-body">
                        <div class="period">
                            <h3>{{month}} - {{year}}</h3>
                        </div>
                        <h6 class="card-category text-gray">{{name_of_employee}}</h6>
                        <h4 class="card-title">Payslip</h4>
                        <table class="table">
                            <tr>
                                <th>Name</td>
                                <th>{{name_of_employee}}</td>
                            </tr>
                            <tr>
                                <th>Employee NSSF Contribution</td>
                                <td> UGX {{payroll.employee_nssf| intcomma }}</td>
                            </tr>
                            <tr>
                                <th>Employer NSSF Contribution</td>
                                <td> UGX {{payroll.employer_nssf | intcomma}}</td>
                            </tr>
                            <tr>
                                <th>Total NSSF Contribution</td>
                                <th> UGX {{payroll.total_nssf_contrib | intcomma}}</th>
                            </tr>
                            <tr>
                                <th>PAYE</td>
                                <td> UGX {{payroll.paye | intcomma}}</td>
                            </tr>
                            <tr>
                                <th>Total Statutory Deductions</td>
                                <th> UGX {{payroll.total_statutory | intcomma}}</th>
                            </tr>
                            <tr>
                                <th>Meal Allowance</td>
                                <td> UGX 150,000</td>
                            </tr>
                            <tr>
                                <th>Overtime</td>
                                <td> UGX {{payroll.overtime | intcomma}}</td>
                            </tr>
                            <tr>
                                <th>Bonus</td>
                                <td> UGX {{payroll.bonus | intcomma}}</td>
                            </tr>
                            <tr>
                                <th>Sacco Deduction</td>
                                <td> UGX {{payroll.sacco_deduction | intcomma}}</td>
                            </tr>
                            <tr>
                                <th>Damage Deduction</td>
                                <td> UGX {{payroll.damage_deduction | intcomma}}</td>
                            </tr>
                            <tr>
                                <th>Prorate</td>
                                <th> UGX {{payroll.prorate}}</th>
                            </tr>
                            <tr>
                                <th></th>
                            </tr>
                            <tr>
                                <th>BASIC SALARY</td>
                                <th> UGX {{payroll.employee.basic_salary | intcomma}}</th>
                            </tr>
                            <tr>
                                <th>GROSS SALARY</td>
                                <th> UGX {{payroll.gross_salary | intcomma}}</th>
                            </tr>
                            <tr>
                                <th>NET SALARY</td>
                                <th> UGX {{payroll.net_salary | intcomma}}</th>
                            </tr>
                         
                        </table>
        
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}