{% extends './base.html'%}
{% load humanize %}
{% load static %}
{% block page_title %}
<h3>Supervisees</h3>
{% endblock %}

{%block content%}
<div class="content">
    <div class="container-fluid">
        <div class="card animated fadeInUp" style="width:50%">
            <div class="card-body">
                {%if supervisions%}
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                    </tr>
                    {%for supervision in supervisions%}
                    <tr>
                        <td>{{supervision.id}}</td>
                        <td>{{supervision.supervisee}}</td>
                        <td><a href="{%url 'employee_supervisee_page' supervision.supervisee.id %}"><button class="btn btn-outline">Manage supervisee</button></td></a>
                    </tr>
                    {%endfor%}
                </table>

                {%endif%}
            </div>
        </div>
    </div>
</div>

{%endblock%}