{% extends './base.html' %}
{% block page_title %}
<h1>Leave Balance</h1>
{% endblock %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    
    {% comment %} <form method="POST" action="{% url 'add_new_type' %}"> {% csrf_token %}
        <div class="form-group">
            <label for="">Leave Type:</label>
            <select class="form-control" id="ltype" name="ltype" required> 
                <option>---------</option>                               
                {% for employee in employees %}    
                    <option value="{{employee.id }}">
                        {{ employee.first_name }} {{ employee.first_name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-danger">Check</button>
    </form> {% endcomment %}

    {% comment %} page_body {% endcomment %}
    <div class="col-md-12">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="">
                <th>Employee</th>
                <th>Days Taken</th>
                <th>Balance</th>
            </thead>
            <tbody>
              {% for employee in employees  %}
              <tr>
                <td>{{ employee.first_name }} {{ employee.last_name }}</td>
                <td>{{taken}}</td>
                <td>{{Balance}}</td>            
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} 