{%extends './base.html'%}
{% load static %}
{% block title %}
Login
{% endblock title %}
{% block content %}
<div class="limiter">
	<div class="container-login100" style="background-image: url('{% static 'registration/images/machinery.png'%}');">
		<div class="wrap-login100 p-t-30 p-b-50">


			<form class="login100-form validate-form p-b-33 p-t-5" method="POST" action=" {% url 'login'  %}">
				{% csrf_token %}
				<center style="padding-top:10px; margin-bottom: 10px">
					<img src=" {% static 'registration/images/icons/logo.svg' %} " style="width:50%" />
				</center>
				{% if message %}
				<div class="alert alert-danger" role="alert" style="margin-top:10px">
					{{message}}
				</div>

				{% endif %}
				<center>
					<label for="" style="text-align: center; font-weight: bold">Select Soliton Role</label>
					<select class="input100" type="text" name="role" placeholder="Role" style="border:0px;
					outline:0px; font-weight: bold; text-decoration: underline; text-align: center">
						<option value="Employee">Employee</option>
						<option value="HOD">HOD</option>
						<option value="HR">HR</option>
						<option value="CFO">CFO</option>
						<option value="CEO">CEO</option>
					</select>
				</center>

				<div class="wrap-input100 validate-input" data-validate="Enter username">
					<input class="input100" type="text" name="username" placeholder="Username">
					<span class="focus-input100" data-placeholder="&#xe82a;"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Enter password">
					<input class="input100" type="password" name="password" placeholder="Password">
					<span class="focus-input100" data-placeholder="&#xe80f;"></span>
				</div>

				<div class="container-login100-form-btn m-t-32">
					<button class="login100-form-btn" type="submit">
						Login
					</button>
				</div>

			</form>
		</div>
	</div>
</div>
{% endblock content %}