{%extends './base.html'%}
{% load humanize %}

{%block page_title %}
Payroll Records (USD)

<script>
$(document).ready(function(){
  $("#search_input").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#payroll_usd_list tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{%endblock%}

{%block content%}
<style>
    td,
    th {
        text-align: center;
        vertical-align: middle;
    }

    th[colspan] {
        text-align: right;
        vertical-align: middle;
    }
</style>

<div class="content">
    <div class="container-fluid">
        <div class="card  animated fadeInUp">
            <div class="period card-header">
                <h3>{{month}} - {{year}}</h3>
            </div>
            <div class="card-body">
                {%if not usd_payslips%}
                <h3>No USD payslips</h3>
                {%else%}
                <div class="table-responsive">
                    <div class="form-group "> 
                        <i class="fas fa-search " aria-hidden="true"></i>
                        <input id="search_input" type="text" class="form-control" placeholder="Search....">                      
                    </div>
                    <table class="table">
                        <thead class="thead-dark">
                        <th>Emp. ID</th>
                        <th>Name</th>
                        <th>NSSF Contribution</th>
                        <th>PAYE</th>
                        <th>Gross Pay</th>
                        <th>Basic Pay</th>
                        <th>Net Pay</th>
                        <th>PAYE(UGX)</th>
                        <th>NSSF Contribution(UGX)</th>
                        <th>Actions</th>
                        </thead>
                        <tbody id="payroll_usd_list"
                        {%if usd_payslips%}
                        {%for payroll in usd_payslips%}
                        <tr>
                            <td>{{payroll.employee.id}}</td>
                            <td>{{payroll.employee}}</td>
                            <td>{{payroll.employee.currency}} {{payroll.total_nssf_contrib | intcomma}}</td>
                            <td>{{payroll.employee.currency}} {{ payroll.paye| intcomma}}</td>
                            <td>{{payroll.employee.currency}} {{payroll.gross_salary | intcomma}}</td>
                            <td>{{payroll.employee.currency}} {{payroll.employee.basic_salary | intcomma}}</td>
                            <td>{{payroll.employee.currency}} {{payroll.net_salary | intcomma }}</td>
                            <td>UGX {{payroll.paye_ugx | intcomma}}</td>
                            <td>UGX {{payroll.nssf_ugx | intcomma}}</td>
                            <td><a href="{%url 'payslip_page' payroll.id%}"
                                   style="color: inherit"><button>View Payslip</button></a></td>
                        </tr>
                        {%endfor%}
                        <tr>
                            <td colspan="2">Total</td>
                            <td>USD {{total_nssf_contribution | intcomma}}</td>
                            <td>USD {{total_paye | intcomma}}</td>
                            <td>USD {{total_gross_pay | intcomma}}</td>
                            <td>USD {{total_basic_pay | intcomma}}</td>
                            <td>USD {{total_net_pay | intcomma}}</td>
                            <td>UGX {{total_paye_ugx | intcomma}}</td>
                            <td>UGX {{total_nssf_contribution_ugx | intcomma}}</td>
                        </tr>
                        {%endif%}
                        </tbody>
                    </table>
                </div>
                <a href="{%url 'payroll_download_usd' payroll_record.id %}">
                    <button class="btn btn-outline">Export Excel CSV</button>
                </a>
            </div>
        </div>
        {%endif%}
    </div>
</div>
{%endblock%}