{%extends './base.html'%}
{% load humanize %}

{%block page_title %}
Payroll Records
{%endblock%}

{%block content%}
<style>
    td,
    th {
        text-align: center;
        vertical-align: middle;
    }

    th[colspan] {
        text-align: right;
        vertical-align: middle;
    }




</style>

<div class="content">
    <div class="container-fluid">
        <div class="card  animated fadeInUp">
            <div class="period card-header">
                <h3>{{month}} - {{year}}</h3>
            </div>
            <div class="card-body">
                {%if not payrolls %}
                <a href="{%url 'generate_payroll' payroll_record.id %}">
                    <button class="btn btn-danger">Generate Initial
                        Payroll
                    </button>
                </a>

                {%else%}
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                        <th>Emp. ID</th>
                        <th>Name</th>
                        <th>NSSF Contribution</th>
                        <th>PAYE</th>
                        <th>Gross Pay</th>
                        <th>Basic Pay</th>
                        <th>Net Pay</th>
                        </thead>
                        {%for payroll in payrolls%}
                        <tr>
                            <td>{{payroll.employee.id}}</td>
                            <td><a href="{%url 'payslip_page' payroll.id%}"
                                   style="color: inherit">{{payroll.employee.first_name}}
                                {{payroll.employee.last_name}}</a></td>
                            <td>{{payroll.employee.currency}} {{payroll.total_nssf_contrib | intcomma}}</td>
                            <td>{{payroll.employee.currency}} {{ payroll.paye| intcomma}}</td>
                            <td>{{payroll.employee.currency}} {{payroll.gross_salary | intcomma}}</td>
                            <td>{{payroll.employee.currency}} {{payroll.employee.basic_salary | intcomma}}</td>
                            <td>{{payroll.employee.currency}} {{payroll.net_salary | intcomma }}</td>
                        </tr>
                        {%endfor%}
                        <tr>
                            <td colspan="2">Total</td>
                            <td>{{total_nssf_contribution | intcomma}}</td>
                            <td>{{total_paye | intcomma}}</td>
                            <td>{{total_gross_pay | intcomma}}</td>
                            <td>{{total_basic_pay | intcomma}}</td>
                            <td>{{total_net_pay | intcomma}}</td>
                        </tr>
                    </table>
                </div>
                <a href="{%url 'payroll_download' payroll_record.id %}">
                    <button class="btn btn-outline">Export Excel CSV</button>
                </a>
            </div>
        </div>
        {%endif%}
    </div>
</div>
{%endblock%}