{%extends './base.html'%}
{% load humanize %}
      
{%block page_title %}
<span>
  <a href="{%url 'payroll_records_page'%}" style="color: inherit;"><i class="material-icons">keyboard_backspace</i></a>
  <h1>Payroll Record of Employees</h1>
</span> 
{%endblock%}

{%block content%}
<div class="content">
        <div class="container-fluid">
                <div class="period">
                        <h3>{{month}} - {{year}}</h3>
                    </div>
                    {%if not payrolls%}
                     <a href="{%url 'generate_payroll' payroll_record.id %}"><button class="btn btn-danger">Generate Initial Payroll</button></a>
                    {%endif%}
<table class="table">
    <tr>
        <th>Name</th>
        <th>NSSF Contribution</th>
        <th>Employer NSSF contribution</th>
        <th>Gross Pay</th>
        <th>Basic Pay</th>
        <th>Net Pay</th>
    </tr>
    {%for payroll in payrolls%}
    <tr>
        <td>{{payroll.employee.first_name}} {{payroll.employee.last_name}}</td>
        <td>UGX {{payroll.employee_nssf | intcomma}}</td>
        <td>UGX {{payroll.employer_nssf | intcomma}}</td>
        <td>UGX {{payroll.gross_salary | intcomma}}</td>
        <td>UGX {{payroll.employee.basic_salary | intcomma}}</td>
        <td>UGX {{payroll.net_salary | intcomma }}</td>
    </tr>
    {%endfor%}
</table>
</div>
</div>
{%endblock%}