{%extends './base.html'%}
{% load humanize %}

{%block page_title %}
Payroll
{%endblock%}

{%block content%}
<style>
    td,
    th {
        text-align: center;
        vertical-align: middle;
    }

    th[colspan] {
        text-align: right;
        vertical-align: middle;
    }

</style>

<div class="content">
    <div class="container-fluid">
        <div class="card  animated fadeInUp">
            <div class="period card-header">
                <h3>{{month}} - {{year}}</h3>
            </div>
            <div class="card-body">
                {%if payslips %}
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                        <th>Emp. ID</th>
                        <th>Name</th>
                        <th>NSSF Contribution</th>
                        <th>PAYE</th>
                        <th>Gross Pay</th>
                        <th>Basic Pay</th>
                        <th>Net Pay</th>
                        <th>Actions</th>
                        </thead>
                        {%for payslip in payslips%}
                        <tr>
                            <td>{{payslip.employee.id}}</td>
                            <td>{{payslip.employee.first_name}} {{payslip.employee.last_name}}</td>
                            <td>{{payslip.employee.currency}} {{payslip.total_nssf_contrib | intcomma}}</td>
                            <td>{{payslip.employee.currency}} {{ payslip.paye| intcomma}}</td>
                            <td>{{payslip.employee.currency}} {{payslip.gross_salary | intcomma}}</td>
                            <td>{{payslip.employee.currency}} {{payslip.employee.basic_salary | intcomma}}</td>
                            <td>{{payslip.employee.currency}} {{payslip.net_salary | intcomma }}</td>
                            <td><a href="{%url 'payslip_page' payslip.id%}"
                                   style="color: inherit"><button>View Payslip</button></a></td>
                        </tr>
                        {%endfor%}
                    </table>
                </div>
                <a href="{%url 'payroll_download' payroll_record.id %}">
                    <button class="btn btn-outline">Export Excel CSV</button>
                </a>
                {%else%}
                <h3>Payroll has not been generated</h3>
            </div>
        </div>
    </div>
    {%endif%}
</div>
{%endblock%}